version: '3.4'

services:
  db:
    image: mysql:5.7
    env_file:
      - .env
  app:
    build:
      context: .
      target: development
      args:
        DOCKER_USER: ${DOCKER_USER:-1000}
    ports:
      - "8090:8000"
    user: ${DOCKER_USER:-1000}
    image: ralph_xapi:development
    env_file:
      - .env
    environment:
      PYLINTHOME: /app/.pylint.d
    volumes:
      - .:/app
    command: >
      python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
