#event-graph {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke-width: 2px;
}

.node text {
  font-family: sans-serif,Arial Black;
}

.popover.bs-popover-right {
  max-width: 500px;
  width: 70%; 
}
